<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Particle Page</title>
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-app="demo">
<hr/>
<div class="container-fluid" ng-controller="UserController">
    <div class="row">
      <div
        class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row placeholders">
          <h3>Particle</h3>
          <p><a href="/dashboard"><button class="btn btn-sm btn-info">Dashboard</button></a></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <label>Particle Name</label>
                  <input type="text" ng-model="userDto.userName"
                    class="input-sm spacing" />
                </tr>
                <tr>
                  <label>Spin</label>
                  <input type="text" ng-model="skills" ng-list
                    class="input-sm custom-width spacing"
                    placeholder="use comma to separate skills" />
                </tr>
                <tr>
                  <button ng-click="saveUser()"
                    class="btn btn-sm btn-info">Add</button>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!-- <div class="row">
        <label>Particle</label> <input type="text" ng-model="userDto.userName" class="input-sm spacing"/>
        <label>Name</label> <input type="text" ng-model="skills" ng-list class="input-sm custom-width spacing"
                                     placeholder="use comma to separate skills"/>
        <button ng-click="saveUser()" class="btn btn-sm btn-info">Save User</button>
    </div> -->
    <div class="row">
        <p>{{allUsers | json}}</p>
    </div>
    <div class="row" ng-repeat="user in allUsers">
        <div class="">
            <h3>{{user.userName}}</h3>
            <span ng-repeat="skill in user.skillDtos" class="spacing">{{skill.skillName}}</span>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/UserController.js"></script>
<script src="js/app/UserService.js"></script>
<!-- link rel="stylesheet" href="css/lib/bootstrap.min.css"/ -->
<link rel="stylesheet" href="css/app/app.css"/>
</html>